{% extends 'base.html' %}

{% block content %}

<form method='post'>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="user_name" type="text" class="validate">
          <label for="user_name">userame</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="text" class="validate">
          <label for="email">email</label>
        </div>

        <div class="input-field col s6">
            <input id="age" type="integer" class="validate">
            <label for"age">age</label>
        </div>
        <div class="input-field col s6">
            <input id="grade" type="integer" class="validate">
            <label for"grade">grade</label>
        </div>
        <div class="inpot-field col s6">
            <input id="password" type="text" class="validate">

            </div>
         <div class='col s12'>
        <button class="btn waves-effect waves-light" type="submit">Submit
    <i class="material-icons right">send</i>
        </button>
        </div>
      </div>
    </form>
</form>

{% endblock %}