{% extends 'base.html' %}

{% block content %}
<div align='center'>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Grade</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>kamila</td>
            <td>14</td>
            <td>9</td>
            <td>kamilaziza@icloud.com</td>
        </tr>
        <tr>
            <td>parid</td>
            <td>4</td>
            <td>1</td>
            <td>kamilaziza13@gmail.com</td>
        </tr>
        {% for p in PEOPLE %}
            <tr>
                <td>{{ p.username }}</td>
                <td>{{ p.password }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}